.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px; 
}
img {
   display: flex;
    width:500px;
    height:500px;
}
p {
    text-align: justify;
}
.dates {
   text-align: right;
}
.icon-map {
    margin-right: 400px;
    float: right;
    
}
.camera-icon {
  margin-right: 400px;
  float: right;
}